<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <!-- ko if: (isShowLegend())-->
    <legend class="legend">
        <span><!-- ko i18n: 'Card Information'--><!-- /ko --></span>
    </legend>
    <br/>
    <!-- /ko -->

    <img data-bind="attr: { src: getDefaultIssuers()}"
         id="issuers"
         style="max-width: 415px"/>

    <!-- ko if: isDebitEnabled()-->
    <div class="field _credit_debit required" data-bind="attr: {'data-validate': JSON.stringify({'required':true})}">
        <label class="label" data-bind="attr: {for: getCode() + '_credit_debit'}">
            <span><!-- ko i18n: 'Payment method'--><!-- /ko --></span>
        </label>

        <div class="control">
            <select class="select credit_debit"
                    data-bind="attr: {id: getCode() + '_credit_debit', 'data-container': getCode() + '-credit-debit', 'data-validate': JSON.stringify({required:true})},
                             enable: isActive($parents),
                             options: getMethods(),
                             optionsValue: 'value',
                             optionsText: 'key',
                             value: creditDebit,
                             valueUpdate:['afterkeydown','input']"
                    data-validate="{required:true}"
                    name="payment[credit_debit]">
            </select>
        </div>
    </div>
    <!-- /ko -->

    <div class="field number required">
        <label class="label" data-bind="attr: {for: getCode() + '_cc_number'}">
            <span><!-- ko i18n: 'Card Number'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input class="input-text" data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_number',
                                    title: $t('Card Number'),
                                    'data-container': getCode() + '-cc-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-number':'#' + getCode() + '_cc_type'})},
                              enable: isActive($parents),
                              value: creditCardNumber,
                              valueUpdate: 'keyup' " maxlength="19" name="payment[cc_number]" step="0" type="number"
                   value=""/>
        </div>
    </div>

    <div class="field text required">
        <label class="label" data-bind="attr: {for: getCode() + '_cc_owner'}">
            <span><!-- ko i18n: 'Name on card'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input class="input-text" data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_owner',
                                    title: $t('Card Owner'),
                                    'data-container': getCode() + '-cc-owner',
                                    'data-validate': JSON.stringify({'required':true})},
                              enable: isActive($parents),
                              value: creditCardOwner,
                              valueUpdate: 'keyup' " name="payment[cc_owner]" style="text-transform: uppercase;" type="text"
                   value=""/>
        </div>
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
        <label class="label" data-bind="attr: {for: getCode() + '_expiration'}">
            <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">
                        <select class="select select-month"
                                data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Month'),
                                            value: creditCardExpMonth"
                                name="payment[cc_exp_month]">
                        </select>
                    </div>
                </div>
                <div class="field no-label year">
                    <div class="control">
                        <select class="select select-year"
                                data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Year'),
                                           value: creditCardExpYear"
                                name="payment[cc_exp_year]">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ko if: (hasVerification())-->
    <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
        <label class="label" data-bind="attr: {for: getCode() + '_cc_cid'}">
            <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
        </label>
        <div class="control _with-tooltip">
            <input autocomplete="off"
                   class="input-number cvv"
                   data-bind="attr: {id: getCode() + '_cc_cid',
                        title: $t('Card Verification Number'),
                        'data-container': getCode() + '-cc-cvv',
                        'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})},
                        enable: isActive($parents),
                        value: creditCardVerificationNumber,
                        valueUpdate: 'keyup' "
                   maxlength="4"
                   name="payment[cc_cid]"
                   step="0"
                   type="number"
                   value=""/>

            <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-cvv"
                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}"
                      data-toggle="dropdown"
                      tabindex="0">
                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                </span>
                <div class="field-tooltip-content"
                     data-bind="html: getCvvImageHtml()"
                     data-target="dropdown"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: (hasInstallments())-->
    <div class="field required" data-bind="attr: {id: getCode() + '_installments_div'}, visible: getInstallments().length > 0"
         id="installments">
        <label class="label" data-bind="attr: {for: getCode() + '_installments'}">
            <span><!-- ko text: $t('Installments')--><!-- /ko --></span>
        </label>
        <div class="control">
            <select class="select installments"
                    data-bind="attr: {id: getCode() + '_installments', 'data-container': getCode() + '-installments', 'data-validate': JSON.stringify({required:true})},
                             enable: isActive($parents),
                             options: getInstallments(),
                             optionsValue: 'value',
                             optionsText: 'key',
                             value: installment,
                             valueUpdate:['afterkeydown','propertychange','input']"
                    data-validate="{required:true}"
                    name="payment[number_of_installments]">
            </select>
        </div>
    </div>
    <!-- /ko -->
</fieldset>

<style type="text/css">
    .rede input, select.installments,
    .rede select.credit_debit {
        width: 413px !important;
    }

    .rede select.select-month {
        width: 298px !important;
    }

    .rede select.select-year {
        width: 110px !important;
    }

    .rede input.cvv {
        width: 100px !important;
    }

    .rede .checkbutton {
        display: inline-block;
        padding: 10px 30px 0 0;
        line-height: 20px;
    }
</style>